body{
    display: flex;
    background-image:url(../images/room-with-concrete-floor-smoke-background_9083-2991.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.adobe-logo{
        padding: 250px 40px 0 0 ;
        text-transform: uppercase;
        color: white;
        margin-left: 20px;
        color: white;
}

p:nth-of-type(1){
    padding-left: 20px;
}

.ball{
    color: blue;
}

.ever{
    background-color: white;
}


h4{
    background-color: blue;
    background-size: 200px;
    padding-top: 20px;
    text-align: center;
    width: 596px;
    height: 25px;
    margin: -60px -40px 0;
    color: white;
    text-align: left;
    
}

.box{
     width:516px;
    height: 830px;
    margin: auto;   
}

input{
    border-top:none;
    border-left:none;
    border-right: none;
    width: 180px;
}

.one{
        background-color:white;
        border: 0 black solid;
        margin: 20px 80px 0 auto;
        padding: 40px ;
}

input:nth-of-type(1){
    width: 500px;
}

input:nth-of-type(2){
    width: 247px;
}
input:nth-of-type(3){
    width: 242px;
}
input:nth-of-type(4){
    width: 500px;
}

label:nth-of-type(6){
    margin-left: 200px;
}
label:nth-of-type(3){
    padding: 180px;
}
label:nth-of-type(7){
    margin-left: 100px;
}

span{
    color: blue;
}

button{
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 50px;
    border-width: 0;
    margin-left: 350px;
}
select{
    width: 230px;
    border-top: none;
    border-left: none;
    border-right: none;
}
input:nth-of-type(5){
    width: 130px;
}
input:nth-of-type(6){
    width: 130px;
}
select:nth-of-type(2){
    width:507px;
}
input:nth-of-type(7){
    margin-right: -70px;
    margin-left: -80px;
}
p:last-child{
    margin-top: -10px;
}
hr{
    margin-top: 80px;
}
input:nth-of-type(4){
    width: 430px;
}

